@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    min-height: 100vh;
    background-color: hsl(0, 0%, 98%);
    padding: 5rem 10rem;
    font-size: 0.9375rem;
    display: grid;
    place-content: center;
}

header {
    text-align: center;
    color: hsl(234, 12%, 34%);
}

h1,
h2 {
    font-weight: 600;
    font-size: 2.25rem;
}

h2 {
    margin-bottom: 0.5rem;
}

.light-title {
    font-weight: 200;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 4.25rem;
}

.description {
    color: hsl(229, 6%, 66%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    align-self: center;
    text-align: left;
    padding: 2rem 2.25rem;
    box-shadow: 0 0.5rem 1rem hsl(229, 6%, 66%, 0.5);
}

.card .card-icon {
    margin-top: 2.25rem;
    text-align: end;
}

.card-title {
    font-size: 1.25rem;
}

.card-description {
    font-size: 0.8rem;
    color: hsl(229, 6%, 66%);
}

.card-couple {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cyan {
    border-top: 0.3rem solid hsl(180, 62%, 55%);
}

.red {
    border-top: 0.3rem solid hsl(0, 78%, 62%);
}

.orange {
    border-top: 0.3rem solid hsl(34, 97%, 64%);
}

.blue {
    border-top: 0.3rem solid hsl(212, 86%, 64%);
}

@media (max-width: 1260px) {
    body {
        padding: 3rem 5rem;
    }
}

@media (max-width: 925px) {
    body {
        padding: 2rem 2rem;
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        max-width: 30rem;
        justify-self: center;
    }

    .card {
        align-self: auto;
    }
}

@media (max-width: 565px) {
    h1,
    h2 {
        font-weight: 600;
        font-size: 2rem;
    }

    .description {
        font-size: 0.85rem;
    }

    .card-title {
        font-size: 1rem;
    }
}

@media (max-width: 426px) {
    body {
        padding: 2.5rem 0.9375rem;
    }

    h1,
    h2 {
        font-weight: 600;
        font-size: 1.75rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    .card .card-icon {
        margin-top: 1rem;
        text-align: end;
    }
}